* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #00ff73;
    color: rgb(18, 8, 124);
}

.login-btn {
    background: #f1e507;
    border: none;
    padding: 10px 20px;
    color: rgb(2, 99, 60);
    cursor: pointer;
    border-radius: 5px;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

.hero-text h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

.hero-text p {
    margin-bottom: 20px;
}

.cta-btn {
    background: #1b06a1;
    border: none;
    padding: 12px 25px;
    color: rgb(196, 209, 10);
    border-radius: 5px;
    cursor: pointer;
}

.hero-img img {
    width: 400px;
}

/* Features */
.features {
    text-align: center;
    padding: 50px;
    background: #7d055b;
}

.feature-box {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.card {
    background: rgb(0, 205, 103);
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(75, 4, 174);
}

/* Footer */
footer {
    background: #07e63f;
    color: rgb(2, 53, 66);
    text-align: center;
    padding: 15px;
}

.hero-text h1 {
    color: rgb(63, 10, 222);
}
