body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #1e1e2f, #2a2a40);
  color: #fff;
  min-height: 100vh;
}

/* App Container */
.app {
  text-align: center;
  padding: 40px 20px;
}

/* Heading */
h1 {
  font-size: 40px;
  margin-bottom: 10px;
  background: linear-gradient(90deg, #00f2fe, #4facfe);
  
  
}

p {
  margin-bottom: 30px;
  color: #ccc;
}

/* Card Container */
.users-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* User Card */
.user-card {
  background: rgba(255, 255, 255, 0.08);
  padding: 20px;
  width: 250px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.user-card:hover {
  transform: translateY(-8px) scale(1.03);
}

/* Name */
.user-card h3 {
  margin-bottom: 10px;
  color: #00f2fe;
}

/* Email */
.user-card p {
  font-size: 14px;
  color: #bbb;
}

/* Loading */
.loading {
  font-size: 20px;
  margin-top: 20px;
}