body {
  margin: 0;
  font-family: Arial;
  background: #f4f4f4;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: black;
  color: white;
}

.hero {
  text-align: center;
  padding: 50px;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  color: white;
}

.features {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
}